
@model Mvc_Project.Models.Employee
<h2 class ="text-danger text-center">Employee Details</h2>
<table class=" table table-bordered table-active table-striped">
    <thead>
        <tr>
            <th> Empno </th>
            <th> Name </th>
            <th> Address </th>
            <th> Salary </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td> @Model.Empno</td>
            <td> @Model.Name</td>
            <td> @Model.Address</td>
            <td> @Model.Salary</td>
        </tr>
        <tr>
            <td>@Model.Empno</td>
            <td>@Model.Name</td>
            <td>@Model.Address</td>
            <td>@Model.Salary</td>
        </tr>
    </tbody>
</table>


